html, body{
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    opacity: .65;
    background-color: #DCB99C;
    z-index: 1000000;
}

.navbar{
    z-index: 1000000;
}

.bg-image1 {
  /* The image used */
  background-image: url("../images/baby.jpg");
  z-index: -1;
  opacity: 0.65;


  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-position: 20%;
}



.bg-image2{
    background-color: #112168d3;
    height: calc(var(--vh, 1vh) * 100);
    /* top: 50%; */
    /* height: 100%; */
    /* opacity: 0.65; */
}

.bg-image3{
    background-color: #DCB99Cd3;
    height: 900px;
}

.bg-image4{
    background-color: #112168d3;
    height: 1500px;
}

.bg-image1, .divider {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption{
    position: absolute;
    left: 0;
    top: 50%;
    /* width: 100%; */
    text-align: center;
    color: #000;
}

.button.homeButton{
    background-color: #ffffff80;
    border-radius: 0;
}

span.homeLabel {
    background-color: #112168;
    color: #ffffff;
    /* padding: 18px; */
    font-size: 25px;
    letter-spacing: 10px;
}

div {
    display: block;
}

.item1{
    margin-left: 100px;
}